span.k-link{
    color: #0094ff !important;
    background-color: #fff !important;
}
ul.k-tabstrip-items{
    background-color: #fff !important;
    border-color: none !important;
}

.img-container{
    width:18rem;
    height:13rem;
    max-height:15rem;
    max-width:18rem;
    border:none;
    border-radius:5%;
    margin:1rem;
}

.tooltip-input {
    position: relative;
}

    .tooltip-input img {
        position: absolute;
        left: 100px;
        top: 10px;
        width: auto;
        height: 100px;
        display: none;
    }

    .tooltip-input:hover img {
        display: block;
    }